@charset "UTF-8";

body {
	background: url(/Moffat-Bay/images/Moffat_Bay_View.jpg) no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	font-family: "Lexend", serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
}

.navbar {
	font-size: 18px;
	background-color: white !important;
}

.navbar-brand {
	font-size: 26px;
	font-weight: 400;
}

.nav-link {
	color: black !important;
}

.nav-link:hover {
	color: #505050 !important;
}

#containerHeader {
	font-size: 30px;
	padding-top: 10vh;
	padding-bottom: 8vh;
	color: white;
}

#section1 {
	padding: 35px 35px 35px 35px;
	margin: 10px 10px 100px 10px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
}

#section2 {
	padding: 35px 35px 35px 35px;
	margin: 10px 10px 100px 10px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
}

#section2 div {
	padding-top: 5px;
	padding-bottom: 5px;
}

#section2 .title {
	font-weight: 400;
}

label {
	font-size: 18px;
	padding-top: 5px;
	display: flex;
}

#formbutton {
	padding-top: 15px;
}

.infoHeader {
	font-size: 22px;
	font-weight: 400;
}

p {
	font-weight: 400;
}

.message {
	font-size: 20px;
	padding-bottom: 15px;
}

.form-group {
	padding-bottom: 5px;
}